Description=Digital Fax.

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/pi/management --private-key /home/pi/digital_fax_private.pem
Restart=always
RestartSec=3
KillMode=process
StandardInput=tty-force
TTYVHangup=yes
TTYPath=/dev/tty20
TTYReset=yes


[Install]
WantedBy=multi-user.target
